.battleBoard h2 {
  margin: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.battleBoard {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
.battleBoard > div {
  min-height: 60px;
}
.battleBoard > div {
  display: flex;
}
.battleBoard > div > div {
  border-left: 1px solid black;
  flex: 1;
  text-align: center;
}
.battleBoard > div > div:first-of-type {
  border: 0;
}
.defenderSpace {
  background: #dEB887;
  flex-grow: 1;
}
.midSpace {
  background: #99915B;
}
.midSpace div {
  margin: 5px auto;
  flex: initial;
  background: #bbb;
  color: #fff;
  height: 50px;
  width: 50px;
  font-size: 150%;
}
.midSpace span {
  display: block;
  color: #000;
  font-size: 50%;
}
.attackerSpace {
  background: #556B2F;
  flex-grow: 1;
}
.battleBoard img {
  /*transform: scale(0.4);*/
}
.battleBoard img {
  max-width: 25%;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.battleBoard img[alt*=infantry] {
  max-width: 10%;
}
.battleBoard img[alt*=mechanized] {
  max-width: 25%;
}
.battleBoard img[alt*=fighter] {
  max-width: 50%;
}
.battleBoard img[alt*=bomber] {
  max-width: 70%;
}
.battleBoard img[alt*=destroyer], .battleBoard img[alt*=battleship], .battleBoard img[alt*=cruiser],
.battleBoard img[alt*=carrier] {
  max-width: 100%;
}
img.casualty {
  border: 2px solid red;
}
